* {

  padding: 0;
  margin: 0;
  font-family: "Courier New";
  scroll-behavior: smooth;
}

html {

  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

body {

  background: #090909;
}

html::-webkit-scrollbar {

  display: none;
}

.main-content {

  height: 100vh;
  grid-gap: 20px;
  display: grid;
  grid-template-areas:
    'banner banner';
  grid-template-rows: 50% 30% 20%;
  margin: auto;
}

.grid-box {

  text-align: center;
  color: white;
  box-shadow: 0 0 10px white;
}

h3 {

  padding: 20px;
  font-size: 2em;
  color: #A81600;
}

p {

  width: 80%;
  margin: auto;
  padding: 10px;
  font-size: 1.1em;
  line-height: 35px;
}

.banner {

  grid-area: banner;
  background: url("background.jpeg");
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 100vh;
  box-shadow: inset 0 0 0 2000px rgba(0,0,0,.75);
}

.banner-main {

  width: 100%;
  height: 100%;
  align-items: center;
}

.bFold {

  width: 90%;
  margin: auto;
  padding: 40px;
  display: grid;
  grid-gap: 40px;
  grid-template-areas:
    'bio bio'
    'skills abme';
}

.header {

  position: absolute;
  display: flex;
  right: 0;
  top: 20px;
}

.cta {

  border: 2px #f53618 outset;
  width: 300px;
  margin: 20px auto;
  border-radius: 30px;
  padding: 10px 20px;
}

#cta {

  color: #f53618;
  font-size: 2em;
  font-weight: 900;
  text-shadow: 0 1px 2px black;
}

a {

  color: white;
  text-decoration: none;
  padding: 20px;
  font-size: 1.25em;
}

.me {

  flex: 1;
  margin: 200px;
}

.btn a {

  font-size: 3em;
}

.banner h1 {

  color: white;
  font-size: 5em;
  padding: 20px;
}

.banner h2 {

  color: #F7614A;
  font-size: 2em;
}


.bio {

  margin-top: 40px;
  grid-area: bio;
}

.skills {

  grid-area: skills;
}

.skills ul {

  width: 40%;
  padding: 20px;
  margin: auto;
  text-align: left;
}

.skills li {

  line-height: 30px;
}

.abme {

  grid-area: abme;
}

footer {

  text-align: center;
  color: white;
  background: #040404;
}

@media (max-width: 768px) {

  .bFold {

    grid-template-areas:
      'bio'
      'skills'
      'abme';
    margin: auto;
    padding: 0;
  }

  main {

    padding: 0;
  }

  .grid-box {
    margin: 10% auto;
    width: 90%;
  }

  .grid-box h3 {

    font-size: 1.5em;
  }

  .grid-box p {

    font-size: .8em;
  }

  .main-content {

    height: 50vh;
  }

  .banner {

      margin: 0;
      height: 50vh;
      width: 100%;
      background-repeat: no-repeat;
      overflow: hidden;
      text-align: center;
  }

  .me {

    margin: auto;
    margin-top: 20%;
  }

  .me h1 {

    font-size: 2em;

  }

  .me h2 {

    font-size: 1.5em;
  }

  nav {

    margin: auto;
    width: 100%;
    display: block;
    float: none;
  }

  nav a {

    font-size: .8em;
  }

  .cta {

    width: 50%;
  }

  #cta {

    font-size: 1.25em;
  }

  i {

    font-size: .5em;
    margin-bottom: 30%;
  }
}
